*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ================== header =============== */
header{
    height: 80vh;
    background:url(../images/Background-header.jpg);

}
.header-layer{
    background-color: rgba(0, 0, 0, .7);
    height: 80vh;
}
.navbar{
    /* background-color: rgba(0, 0, 0, .4); */
    padding: 1rem 0;
}
header .navbar a.navbar-brand{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
header .navbar a.navbar-brand:hover{
    color: #fff;
}
.navbar .nav-item a.nav-link{
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    transition:all .5s ease-in-out;
}
.navbar .nav-item a.nav-link:hover{
    color: #ccc;
}
.header-search{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    border:1px solid #fff;
    margin-left: 20px;
}
.header-search i{
    font-size: 20px;
    color: #fff;
}
.header-content-c{
    width: 60%;
    margin: 100px auto;
    color: #fff;
}
.header-content-c h1{
    font-size: 50px;
}
.header-content-c p{
    margin: 2rem 0;
}
.btn-lm{
    width: 140px;
    height: 45px;
    border: 1px solid #fff;
    color: #fff;
    transition: all .5s;
}
.navbar-light .navbar-toggler{
    background-color: #fff;
}
@media (max-width: 995px) { 
    .navbar{
        background-color: rgba(0, 0, 0, .9);
    }
    .header-search{
        margin-left: 0;
    }
 }

.btn-lm:hover{
     background-color: #fff;
     color:#000;
 }
 /* ============== home =============== */
 .home-sec{
     position: relative;
     top: -50px;
     z-index: -1;
}
 .home-card{
     padding: 2rem;
     box-shadow: 2px 2px 10px #ccc;
 }
 .home-card-icon{
     font-size: 30px;
     color: #0d8acd;
 }
 .home-card-heading{
     margin: 1rem 0;
 }
 .home-card-parg{
     color: rgb(170, 168, 168);
 }
 .home-card-iconr{
     font-size: 20px;
 }
 /* About Us */
 .about-us-title{
 }
 .about-h3{
     color: #2416a0;
     font-size: 20px;
     text-transform: uppercase;
 }
 .about-h1{
     width: 100%;
     display: block;
     font-size: 30px;
     margin-top: 20px;
     margin-bottom: 40px;
 }
 .about-parg{
     color:#616A6B;
     text-transform: capitalize;
    font-size: 20px;
 }
 .about-us-text p{
     font-size: 20px;
     color: #616A6B;
 }